<script type="text/javascript" src="js/localization.js"></script>
<script type="text/javascript" src="js/services/utils/language.js"></script>
<script type="text/javascript" src="js/services/utils/initView.js"></script>
<script type="text/javascript" src="js/services/utils/db.js"></script>
<script type="text/javascript" src="js/services/utils/navigator.js"></script>
<script type="text/javascript" src="js/services/utils/sheduler.js"></script>
<script type="text/javascript" src="js/services/utils/session.js"></script>
<script type="text/javascript" src="js/services/utils/auth.js"></script>
<script type="text/javascript" src="js/services/utils/file_resolver.js"></script>
<script type="text/javascript" src="js/services/utils/file_cash.js"></script>

<script type="text/javascript" src="js/services/city.js"></script>
<script type="text/javascript" src="js/services/editors_choice.js"></script>
<script type="text/javascript" src="js/services/objects.js"></script>
<script type="text/javascript" src="js/services/routes.js"></script>
<script type="text/javascript" src="js/services/events.js"></script>
<script type="text/javascript" src="js/services/audios.js"></script>
<script type="text/javascript" src="js/services/object.js"></script>
<script type="text/javascript" src="js/services/route.js"></script>
<script type="text/javascript" src="js/services/event.js"></script>
<script type="text/javascript" src="js/services/audio.js"></script>
<script type="text/javascript" src="js/services/map.js"></script>
<script type="text/javascript" src="js/services/favorites.js"></script>
<script type="text/javascript" src="js/services/search.js"></script>
<script type="text/javascript" src="js/services/calendar.js"></script>
<script type="text/javascript" src="js/services/weather.js"></script>
<script type="text/javascript" src="js/services/appeals.js"></script>
<script type="text/javascript" src="js/services/sheduler.js"></script>
<script type="text/javascript" src="js/services/sheduler_section.js"></script>

<script type="text/javascript" src="js/controllers/menu.js"></script>

<script type="text/javascript" src="js/controllers/selectLang.js"></script>
<script type="text/javascript" src="js/controllers/selectCity.js"></script>
<script type="text/javascript" src="js/controllers/home.js"></script>
<script type="text/javascript" src="js/controllers/city_guide.js"></script>
<script type="text/javascript" src="js/controllers/editors_choice.js"></script>
<script type="text/javascript" src="js/controllers/objects.js"></script>
<script type="text/javascript" src="js/controllers/routes.js"></script>
<script type="text/javascript" src="js/controllers/events.js"></script>
<script type="text/javascript" src="js/controllers/audios.js"></script>
<script type="text/javascript" src="js/controllers/object.js"></script>
<script type="text/javascript" src="js/controllers/route.js"></script>
<script type="text/javascript" src="js/controllers/event.js"></script>
<script type="text/javascript" src="js/controllers/map.js"></script>
<script type="text/javascript" src="js/controllers/favorites.js"></script>
<script type="text/javascript" src="js/controllers/search.js"></script>
<script type="text/javascript" src="js/controllers/calendar.js"></script>
<script type="text/javascript" src="js/controllers/weather.js"></script>
<script type="text/javascript" src="js/controllers/appeals.js"></script>
<script type="text/javascript" src="js/controllers/login.js"></script>
<script type="text/javascript" src="js/controllers/sheduler.js"></script>
<script type="text/javascript" src="js/controllers/sheduler_section.js"></script>
<script type="text/javascript" src="js/controllers/offline_pages.js"></script>
<script type="text/javascript" src="js/controllers/about_app.js"></script>
<script type="text/javascript" src="js/controllers/faq.js"></script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9XnuVclhRu4AfA0hLcr8_HFp4J6exYQI&callback=initMap"></script>